*{
    box-sizing: border-box;
}

.big-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0px 10px;
    position: relative;
}
.logo-navbar img{
    width: 200px;
}
.text-navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    font-weight: 550;
}
.text-navbar p:hover{
    color: #821213;
}
.login-navbar{
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    padding: 3px 5px 3px 15px;
    width: 100px;
    height: 40px;
}
.LuLogIn-navbar{
    font-weight: 700;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mediya-navbar{
    display: none;
}
.SlMenu-navbar{
    font-size: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 7px 7px 0px 7px;
}
.media-text-navbar{
    display: none;
    font-family: "Oswald", sans-serif;
    background-color: #f0f0f0;
    height: auto;
    width: 320px;
    position: absolute;
    top: 100px;
    right: 0px;
    padding: 10px 0px 0px 0px;

}
.media-text-navbar p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 5px;
}
.media-text-navbar p:hover{
    color: #821213;
}
@media (max-width:1050px) {
    .logo-navbar img{
        width: 180px;
    }
    .text-navbar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        font-size: 11px;
        font-family: "Oswald", sans-serif;
        font-weight: 550;
    }
    .login-navbar{
        background-color: #000;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        font-weight: 600;
        border-radius: 30px;
        padding: 3px 5px 3px 25px;
        width: 100px;
        height: 40px;
    }
}
@media (max-width:900px) {
    .mediya-navbar{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .LuLogIn-navbar{
        font-size: 25px;
        font-weight: 700;
        width: 40px;
        height: 40px; 
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-navbar{
        display: none;
    }
    .login-navbar{
        display: none;
    }
}
.open-media-text-navbar{
    display: block;
}