.header-search{
    background: url("../img/search-header");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-search-header{
    text-align: center;
    color: #fff;
    font-family: "Arimo", sans-serif;  
}
.text-search-header h1, .text-search-header h3{
    font-weight: 600;
}

.big-search-div{
    display: flex;
    align-items: start;
}

.section-search{
    width: 95%;
    margin: auto;
    margin-top: 30px;
}
.button-search {
    display: flex;
    align-items: center;
    gap: 5px;
}
.button-search button{
    border: none;
    border-radius: 5px;
    background-color: #F2F2F2;
    color: #666666;
    height: 40px;
    width: 155px;
    font-family: "Arimo", sans-serif;  
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0px 0px 5px #666666;
}

.first-div-search{
    width: 33%;
}
.first-div-search h3{
    margin-bottom: 10px;
}
.search-input-div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.first-input-search p{
    margin-bottom: 0px;
}
.first-input-search input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    outline: none;
    height: 40px;
}
.first-input-search input:focus{
    box-shadow: 0px 0px 5px #007bff;
}


.second-div-search{
    width: 33%;
}
.third-div-search{
    width: 33%;
}