/* .imgd{
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.266);
   
} */
.header1{
    background: url("https://classiccars.com/img/bg-images/6.jpg?_vCache=638485040700000000") no-repeat;
    /* background-color: red; */
    background-size: cover;
    height: 500px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0px;
    z-index: -1;
    left: 0px;
    background-position: center;
}
.table1{
    /* margin-top: 100px; */
    position: relative;
    top:-90px;
}
.imgg {
    height: 500px;
    color: white;
    text-align: center;
    padding-top: 30px;
    /* background-color: rebeccapurple; */
}
.imgg h1 span{
    font-size: 25px;
}
.white{
    background-color: white;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    border-radius: 10px;
    position: relative;
    z-index: 2323232;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    min-height: 600px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: -150px;
}
.premium{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
  
}
.until{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    /* background-color: red; */
}
.until2{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}
.sold2{
    background-color: #f8f9fa;
    /* margin-top: 20p/x; */
    /* margin-bottom:40px; */
    padding-left: 10px;
}
.sold1{
    /* background-color: red; */
    margin-top: 20px;
    margin-bottom:40px;

}

.sold4{
    background-color: #f8f9fa;
    /* margin-top: 20p/x; */
    /* margin-bottom:40px; */
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -30px;
}
.until3{
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    height: 40px;
}
.sold3{
    /* background-color: #f8f9fa; */
    /* margin-top: 20p/x; */
    margin-bottom:40px;
    padding-left: 10px;
    margin-top: -30px;
}
.sold5{
    /* background-color: #f8f9fa; */
    /* margin-top: 20p/x; */
    margin-bottom:40px;
    padding-left: 10px;
    margin-top: -15px;
}
.pricing1{
    margin-bottom: 20px !important;
}
.guar{
    padding-top: 20px;
    margin-bottom:40px;
}
/* .choose{
    width: 99%;
    margin: auto;
} */
.regular{
    text-align: center;
}
.regular button{
      padding: 10px 60px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    border-radius:6px;
}
.regular1 button{
      padding: 10px 60px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    border-radius:6px;

}
.regular1{
    text-align: center;
}

.regular2{
    text-align: center;
}
.regular2 button{
    padding: 10px 60px;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius:6px;

    border: none;
}
.regular1{
    border: 2px solid black;
}
.regular button:hover, .regular1 button:hover, .regular2 button:hover{
    background-color: #821213;
}
.pric0{
    background-color: #f8f9fa;
    height: 60px;
    margin-top: -6px;
    /* margin-bottom: 20px; */
    padding-top:10px;
    font-size: 25px;
    font-weight: 600;
    /* margin-bottom: -10px; */
}
.pric{
    background-color: #f8f9fa;
    height: 60px;
    margin-top: -6px;
    margin-bottom: 20px;
    padding-top:10px;
    font-size: 25px;
    font-weight: 600;
}
.pric2{
    background-color: #f8f9fa;
    height: 60px;
    margin-top: -6px;
    margin-bottom: 20px;
    padding-top:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 25px;
    font-weight: 600;
}

.pric1{
    background-color: #f8f9fa;
    /* margin-top: -6px; */
    margin-top: 20px;
    margin-bottom: -10px;
    padding-top: 0.1px;
    height: 60px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pricx{
    background-color: #f8f9fa;
    /* margin-top: -6px; */
    margin-top: 20px;
    margin-bottom: -10px;
    padding-top: 15px;
    font-weight: 600;
    font-size: 25px;
    height: 60px;
    /* padding-left: 10px; */
    
}
.pricx_1{
    background-color: #f8f9fa;
    /* margin-top: -6px; */
    /* margin-top: px; */
    margin-bottom: -10px;
    padding-top: 25px;
    font-weight: 600;
    font-size: 25px;
    height: 84px;
    /* padding-left: 10px; */
    
}
.pric_1{
   
    /* margin-top: -6px; */
    margin-top: 30px;
    /* margin-bottom: -10px; */
    /* padding-top: 15px; */
    font-weight: 600;
    font-size: 25px;
    height: 60px;
    
}
.pric_2{
   
    /* margin-top: -6px; */
    margin-top: 30px;
    /* margin-bottom: -10px; */
    /* padding-top: 15px; */
    height: 60px;
    
}
.pricing{
    height: 100px;
}
.choose p{
    font-weight: 700;
}
@media (max-width:1320px){
    .white{
        border-radius: 0px;
        max-width: 1400px;
    }
}
@media (max-width:1170px) {
   
    .regular2 button{
        padding: 10px 40px;
        background-color: black;
        color: white;
        font-weight: 600;
        border-radius:6px;
    
        border: none;
    }
    .regular button{
        padding: 10px 40px;
      background-color: black;
      color: white;
      font-weight: 600;
      border: none;
      border-radius:6px;
  }
  .regular1 button{
        padding: 10px 40px;
      background-color: black;
      color: white;
      font-weight: 600;
      border: none;
      border-radius:6px;
  
  }
}

.weeks{
    padding-bottom: 30px;

    display: none;
}
.week{
    width: 90%;
    margin: auto;
    border:1px solid black;
    min-height: 80px;
    background-color: white;
    margin-bottom: 40px;
}
.greyh{
    height: 80px;
    background-color: #f8f9fa;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    display: none;
}
.solid{
    display: none;
}
.gry{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
.gur{
    display: flex;
    width: 60%;
    margin-top: 40px;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}
.gur h3{
    font-weight: 500;
}
.gur1{
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin:auto;
    background-color: #f8f9fa;
    justify-content: space-between;
    align-items: center;
}
.gur1 h3{
    font-weight: 500;
}
.butn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pre{
    width: 25%;
}
.butn button{
    padding: 10px 200px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    background-color: black;
    border-radius: 6px;
    border:none;
    margin-bottom: 30px;
}
.butn button:hover{
    background-color: #821213;

}
@media (max-width:1012px) {
    .white{
        display: none;
    }
    .weeks{
        display:block;
    }
    .table1{
        /* margin-top: 100px; */
        position: relative;
        top:0px;
        padding-top: 30px;
    }
}
@media (max-width:730px) {
    .gry{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }
    .gur{
        display: flex;
        width: 90%;
        margin-top: 40px;
        margin:auto;
        justify-content: space-between;
        align-items: center;
    }
    .butn button{
        padding: 10px 150px;
        font-weight: 700;
        color: white;
        margin-top: 10px;
        background-color: black;
        border-radius: 6px;
        border:none;
        margin-bottom: 30px;
    }
}
@media(max-width:540px){
    .list h3{
        font-size: 15px;
    }
}
@media(max-width:440px){
    .butn button{
        padding: 10px 100px;
        font-weight: 700;
        color: white;
        margin-top: 10px;
        background-color: black;
        border-radius: 6px;
        border:none;
        margin-bottom: 30px;
    }
    .gry h1{
        font-size: 23px;
    }
    .list h3{
        font-size: 13px;
    }
}
.swip1{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}